* {
    padding: 0;
    margin: 0;
    /* background-color: rgb(65, 65, 65); */
}

nav {
    display: flex;
    justify-content: center;
}

.my-link-group {
    display: flex;
    gap: 1em;
}

li {
    list-style: none;
    cursor: pointer;
}