* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.search-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#search-input {
    padding: 5px;
    border: none;
}

#search-input:focus {
    outline: none;
    border-bottom: 2px solid black;
    
}

.search-form:focus {
    border: 2px solid black;
}

.search-bar-container:focus {
    border: 1px solid black;
}

#search-icon {
    font-size: 30px;
    cursor: pointer;
    align-items: center;
}